.homebod{
    width: 250px;
    height: 150px;
    margin-left: 40%;
}
img.LogoLogo {
    margin-top: 10px;
}
.HeaderBk{
    height: 156px;
    background-image: url(./Images/Head3.jpg);
    background-size: 100%;
    background-position: top ;
    background-repeat: no-repeat;
}