.App {
    text-align: center;
  }
  h1.EmergencyTitleMod {
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  button.SaveMeBtn.btn.btn-primary {
    background-image: url(./../../Modals/Images/1.jpg);
    background-size: auto;
    margin-top: 5px;
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: none;
}

  p.saveMeEText{
    text-align: center;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
  }
