
.googleCol{
    padding-left: 35%;
  }
  button.googText{
    color: #EA85C7;
    font-size: 22px;
  }
  button.googleBtn{
    border-style: unset;
    border-radius: 70px;
    color: #1c3a5e;
    font-size: 18px;
    font-family: 'Finger Paint', cursive;
    background-color: #ea85c7;
    width: 200px;
  }
  .googleCol{
    padding-left: 35%;
}
.googText{
    color: #EA85C7;
    font-size: 22px;
}
.googleBtn{
    border-style: unset;
    border-radius: 70px;
    color: #1c3a5e;
    font-size: 18px;
    font-family: 'Finger Paint', cursive;
    background-color: #ea85c7;
    width: 200px;
}  