
.HomeInfoCont {
    width: 38px;
    padding-left: 26%;
    margin-top: 40px;
}
 


p.textHome{
    margin-top: 20px;
    font-family: 'Architects Daughter', cursive;
   color:#08104e;
    font-size: 16px;
    width: 650px;
    
}
.youAre{
    margin-top: 80px;
    color: #EA85C7;
    font-family: 'Work Sans', sans-serif;

    
}




.cancelBtn{
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2px;
    height: 70px;
    width: 618px;
    background-color: black;
    color: white;
    border: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 31px;
    margin: 4px 2px;
}

.colCancel{
    margin-bottom: -36px;
    margin-top: -13px;
    padding-left: 26%;
}
.homeDivi{
    padding-left: 22%;
}
.emergencyBtnsRow1.row {
    margin-left: 26%;
    display: -webkit-inline-box;
    margin-bottom: 0px;
}
.emergencyBtnsRow2.row {
    margin-left: 26%;
    display: -webkit-inline-box;
    margin-bottom: 10px;
}