
.HomeInfoCont {
    width: 38px;
    padding-left: 25%;
    margin-top: 40px;
}
.textareaHome{
    border-color: #08104e;
    width: 400px;
    border-radius: 25px;
    background-color: #f7d5eb;
    padding-right: 23%;
    border-style: dotted;
    margin-top: 80px;
    width: 604px;
    height: 199px;
    background-color: #f7d5eb;
    padding-right: 23%;
}


p.textHome{
    margin-top: 44px;
    font-family: 'Architects Daughter', cursive;
    padding-left: 18%;
   color:#08104e;
    font-size: 16px;
    width: 650px;
    
}
.youAre{
    color: #EA85C7;
    padding-left: 14%;
}




.saveBtn{
    margin-top: 80px;
    background-color:#08104e;
    color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    height: 250px;
    width: 250px;
    border-radius: 50%;

}
.cancelBtn{
    border-radius: 70px;
    margin-bottom: 90px;
    height: 50px;
    width: 150px;
    background-color: rgb(226, 218, 222);
    color:#F054B0;
    border: 1px;
    border-color: #EA85C7;
    text-align: center;
    text-decoration: none;
    font-size: 31px;
    margin: 4px 2px;
}
.colSave{
    margin-top: 20px;
    padding-left: 24%;
}
.colCancel{
    margin-bottom: 50px;
    margin-top: 53px;
    padding-left: 29%;
}
.homeDivi{
    padding-left: 22%;
}
/*.homeBack{
    object-fit: cover;
    object-position:  center;
    background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    width: 700px;
    background-image: url(./../../Components/Images/fondo.jpg);
    border-radius: 45px;
}*/