.textareaStay{
    padding-left: 15%;
}
.containerStay {
    border-color: #08104e;
    width: 600px;  
    background-color: #f7d5eb;
    padding-right: 23%;
    border-style: dotted;
    margin-top: 75px;
    width: 604px;
    border-radius: 25px;
    background-color: #f7d5eb;
    padding-right: 23%;
}
.pStay {
    padding-left: 17%;
   color:#08104e;
    font-size: 16px;
    width: 650px;
}
.Col{
    padding-left: 15%;
}
.label.lable{
    background-color: #08104e;
    color: white;
}
.formC{
    border-style: unset;
    color: white;
    width: 850px;
    height: 350px;
    background-color: #08104e;
    margin-bottom: -1px;
    border-color: white;
    border-radius: 25px;
}
.colSub{
    padding-left: 15%;
}
.submitlBtn{
    border-radius: 70px;
    margin-bottom: 90px;
    height: 50px;
    width: 850px;
    background-color: deeppink;
    color: #ffffff;
    border: -1px;
    border-color: #EA85C7;
    text-align: center;
    text-decoration: none;
    font-size: 31px;
    margin: 4px 2px;
}
.colH{
 padding-left: 40%;
}
h1{
    font-family: 'Finger Paint', cursive;
    color:#EA85C7;
   }
   