.textareaStay{
    padding-left: 15%;
}
.containerStay {
    border-color: #08104e;
    width: 600px;  
    background-color: #f7d5eb;
    padding-right: 23%;
    border-style: dotted;
    margin-top: 75px;
    width: 604px;
    border-radius: 25px;
    background-color: #f7d5eb;
    padding-right: 23%;
}
.pStay {
    text-align: left;
    padding-left: 21%;
   color:#08104e;
    font-size: 16px;
    width: 650px;
}
.Col{
    padding-left: 15%;
}
.label.lable{
    background-color: #08104e;
    color: white;
}

.colSub{
    padding-left: 15%;
}
.submitlBtn{
    padding-left: 1%;
    border-radius: 70px;
    margin-bottom: 90px;
    height: 50px;
    width: 850px;
    background-color: deeppink;
    color: #ffffff;
    border: -1px;
    border-color: #EA85C7;
    text-align: center;
    text-decoration: none;
    font-size: 31px;
    margin: 4px 2px;
}

h1{
    font-family: 'Finger Paint', cursive;
    color:#EA85C7;
   }
   
.formC.form-group {
    display: grid;
}
textarea.form-control {
    padding-left: 1%;
    width: 850px;
    border-radius: 25px;
    height: 200px;
    background-color: #08104e;
    margin-bottom: -1px;
    color: white;
    font-size: 25px;
}