.ProfileName{
  margin-top: 80px;
    border-radius: 25px;
    background-color:#EA85C7;
    color: white;
      text-align: center;
  }
  h2{
   
    width: 250px;
    border-radius: 25px;
    background-color:#EA85C7;
    color: white;
  }
  .ProfDiv{
    padding-left: 17%;
  }
  .ProfileRow{
    background-color: #223f61;
    object-fit: cover;
      object-position:  center;
      background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      width: 900px;
     
      border-radius: 45px;
   
  }
  .ProfileCont1.container {
    padding-left: 18%;
    font-size: 14px;
    margin-top: 30px;
    display: inline-flex;
  }
  .ProfileImages.col {
    display: inline-grid;
    margin-right: 8%;
  }
  p.userProfI {
    text-align: left;
    width: 335px;
    padding-left: 3%;
    margin-top: -14px;
    font-size: 13px;
    background-color: white;
    border: 1px;
    border-radius:25px;
    margin-bottom: 40px ;
    
  }
  .facePic{
    border-radius: 25px;
    margin-left: 11px;
    margin-top: 0;
    margin-bottom: 11px;
    width: 210px;
    height: 182px;
    margin-right: -20px;
  }
  .bodyPic{
    padding-left: 14%;
    margin-top: -15%;
    width: 180px;
    
  }
  img.bodyPic{
    border-radius: 25px;
    padding-left: 11%;
  }
  img.facePic.rounded {
    border-radius: 25px;
    padding-left: 13%;
    border: 1px, solid;
    border-color: #EA85C7;
  }
  .highText3{
    color: black;
    font-size: 16px;
    font-weight: 500;
  }