h1.LogInTtitle {
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
.ReactModal__Content.ReactModal__Content--after-open{
    position: absolute;
    top: 45px;
    left: 320px;
    right: 0;
    bottom: 40px;
    border: 12px solid pink;
    background: rgb(255, 255, 255);
    overflow: auto;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background: none;
    padding-left: 5%;
}
  label.form-label {
    padding-left: 23%;
    color: #EA85C7;
    font-size: 22px;
  }
  input#formBasicEmail {
    margin-left: 20px;
  }
  small.text-muted.form-text {
    color: navy;
  }
  input#formBasicPassword {
    margin-left: 62px;
  }

  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    position: fixed;
    top: -10px;
    left: 25%;
    right: 0px;
    bottom: 0;
    
  }
  .googleCol{
    padding-left: 35%;
  }
  .googText{
    color: #EA85C7;
    font-size: 22px;
  }
  button.googleBtn{
    border-style: unset;
    border-radius: 70px;
    color: #1c3a5e;
    font-size: 18px;
    font-family: 'Finger Paint', cursive;
    background-color: #ea85c7;
    width: 200px;
  }
  label.formLog1.form-label {
    padding-left: 14%;
    display: revert;
}

button.googText{
  color: #EA85C7;
  font-size: 22px;
}
button.googleBtn{
  border-style: unset;
  border-radius: 70px;
  color: #1c3a5e;
  font-size: 18px;
  font-family: 'Finger Paint', cursive;
  background-color: #ea85c7;
  width: 200px;
}
.googleCol{
  padding-left: 35%;
}
.googText{
  color: #EA85C7;
  font-size: 22px;
}
.googleBtn{
  border-style: unset;
  border-radius: 70px;
  color: #1c3a5e;
  font-size: 18px;
  font-family: 'Finger Paint', cursive;
  background-color: #ea85c7;
  width: 200px;
}  


  @media only screen and (max-width: 1024px ){
    .ReactModal__Content.ReactModal__Content--after-open{
      position: absolute;
      top: 45px;
      left: 220px;
      right: 0;
      bottom: 40px;
      border: 12px solid pink;
      background: rgb(255, 255, 255);
      overflow: auto;
  }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
      background: none;
      padding-left: 5%;
  }
  label.form-label {
    padding-left: 10%;
}
  }


  @media only screen and (max-width: 360px ){

  
  }

