h1.LogInTtitle {
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    width: 600px;
    height: 400px;
  }
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    left: 300px;
  }
  label.form-label {
    padding-left: 23%;
    color: #EA85C7;
    font-size: 22px;
  }
  input#formBasicEmail {
    margin-left: 20px;
  }
  small.text-muted.form-text {
    color: navy;
  }
  input#formBasicPassword {
    margin-left: 62px;
  }
  
  
  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    position: fixed;
    top: -10px;
    left: 25%;
    right: 0px;
    bottom: 0;
  }