h1.SignInTtitle {
  background: white;
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  .accountBKG {
    background-image: url(./../../Components/Images/bkg2.png);
    background-position:right;
    background-repeat: no-repeat;
    width: 422px;
    margin-left: 14%;
    margin-bottom: 40px;
}
  label.form-label {
    background: white;
    display: table;
    padding-left: 10%;
    color: #EA85C7;
    font-size: 22px;
  }
  input#formBasic {
    
    margin-left: 10%;
}
input#formGridAddress {
  margin-left: 10%;
}
  .modBtns {
    padding-left: 10%;
  }
  input.emergenvyContInfo.form-control {
    margin-left: 12%;
    width: 300px;
}
small.text-muted.form-text {
  color: navy;
  background: white;
}