
  h1.AboutUsTtitle {
    font-family: 'Work Sans', sans-serif;
    padding-left: 0%;
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  h3.weAreSis {
    font-family: 'Work Sans', sans-serif;
    color: #223f61;
    text-align: center;
}
 p.AboutUsText{
   padding-left: 5%;
   text-align: left;
 }

 img.AboutUsLogo {
  margin-top: -46px;
  padding-left: 37%;
}
  