
  h1.AboutUsTtitle {
    padding-left: 20%;
    text-align: left;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  
  
  .jumbo.jumbotron {
    padding-left: 30%;
    height: auto;
    width: 900px;
   background-color:white ;
  }
  .AboutUsBackground{
    background-image:url(./../../Components/Images/fondomod.jpg) ;
    background-repeat: no-repeat;
    background-position: bottom;
  }
 p.AboutUsText{
   text-align: left;
 }
  