.App {
    text-align: center;
  }
  h1.EmergencyTitleMod {
    text-align: center;
    color: #EA85C7;
    font-family: 'Finger Paint', cursive;
  }
  button.NotWellBtn.btn.btn-primary {
    background-image: url(./../../Modals/Images/4.jpg);
    background-size: auto;
    margin-top: 80px;
    margin: 4px 2px;
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: none;
}

  p.modalEText {
    text-align: center;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
  }
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 600px;
    height: 366px;
  }
