.navbar-light .navbar-nav .nav-link {
    color: #B9B7BD;
    font-size: 30px;
    border: 1px, solid #B9B7BD;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #EA85C7;
  }

.menubar{
    margin-top: 20px;
    margin-left: 23%;
	display: inline-flex;
}
.Nav.container {
    display: inline-flex;
}
.imgLogo {
    padding-left: 7%;
    margin-top: 26px;
}
.mr-auto.navbar-nav {
    display: -webkit-inline-box;
}
header{
    background-color: #f7d5eb63;
}